@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 62.5%;
}

.container {
  background-image: url(/images/bg-main-desktop.png);
  background-size: 45rem;
  background-repeat: no-repeat;
  width: 100vw;
  position: relative;
  height: 100vh;
}

.card {
  position: absolute;
}
.f {
  top: 15%;
  left: 20%;
}
.b {
  top: 45%;
  left: 25%;
}
img.card {
  width: 30rem;
}

.inputcontainer {
  position: relative;
  top: 30%;
  right: -55%;

  display: flex;
  flex-direction: column;
  width: 35rem;
  gap: 1rem;
}

input {
  border-radius: 0.8rem;
  padding: 1rem;
  /* border: none; */
}

.submit {
  padding: 1rem;
  background: #220930;
  color: white;
  border: none;
  border-radius: 0.8rem;
}

#date {
  width: 7rem;
}

.dates {
  display: flex;
  flex-direction: column;
}

.carddate {
  display: flex;
  justify-content: space-between;
}
#cvc {
  /* width: 10rem; */
}

.cvccont {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.datecont {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
